In [2]:
%config Completer.use_jedi = False
import pandas as pd
from nltk.tokenize import sent_tokenize
from sklearn.datasets import fetch_20newsgroups

In [3]:
text = """
The alarm rang at 7 in the morning as it usually did on Tuesdays.
She rolled over,
stretched her arm, and stumbled to the button till she finally
managed to switch it off.
Reluctantly, she got up and went for a shower. The water was cold
as the day before the engineers
did not manage to get the boiler working. Good thing it was still
summer.
Upstairs, her cat waited eagerly for his morning snack. Miaow! he
voiced with excitement
as he saw her climb the stairs.
"""

In [4]:
sent_tokenize(text)

['\nThe alarm rang at 7 in the morning as it usually did on Tuesdays.',
 'She rolled over,\nstretched her arm, and stumbled to the button till she finally\nmanaged to switch it off.',
 'Reluctantly, she got up and went for a shower.',
 'The water was cold\nas the day before the engineers\ndid not manage to get the boiler working.',
 'Good thing it was still\nsummer.',
 'Upstairs, her cat waited eagerly for his morning snack.',
 'Miaow!',
 'he\nvoiced with excitement\nas he saw her climb the stairs.']

In [5]:
len(sent_tokenize(text))

8

In [6]:
data = fetch_20newsgroups(subset='train')
df = pd.DataFrame(data.data, columns=['text'])

In [8]:
df = df.iloc[1:10]

In [9]:
df['text'] = df['text'].str.split('Lines:').apply(lambda x: x[1])

In [10]:
df['num_sent'] = df['text'].apply(sent_tokenize).apply(len)

In [11]:
df

                                                 text  num_sent
2    36\n\nwell folks, my mac plus finally gave up...         9
3    14\nDistribution: world\nNNTP-Posting-Host: a...         7
4    23\n\nFrom article <C5owCB.n3p@world.std.com>...        10
5    58\n\nIn article <1r1eu1$4t@transfer.stratus....        21
6    12\n\nThere were a few people who responded t...         8
7    44\nDistribution: world\nNNTP-Posting-Host: d...        15
8    10\n\nI have win 3.0 and downloaded several i...         3
9    29\n\njap10@po.CWRU.Edu (Joseph A. Pellettier...        12
10   13\n\nI have a line on a Ducati 900GTS 1978 m...        11