In [2]:
# idf = log(n/1+df) n=number of documents df number of documents contain word
%config Completer.use_jedi = False
import pandas as pd
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
data = fetch_20newsgroups(subset='train')
df = pd.DataFrame(data.data, columns=['text'])

In [4]:
df['text'] = df['text'].str.replace(
'[^\w\s]','').str.replace('\d+', '')

<ipython-input-4-93d9470e5081>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace(

In [5]:
vectorizer = TfidfVectorizer(lowercase=True,
stop_words='english',
ngram_range=(1, 1),
min_df=0.05)

In [6]:
vectorizer.fit(df['text'])

TfidfVectorizer(min_df=0.05, stop_words='english')

In [7]:
X = vectorizer.transform(df['text'])

In [8]:
tfidf = pd.DataFrame(X.toarray(), columns =
vectorizer.get_feature_names())

In [9]:
tfidf.head(10)

,able,access,actually,ago,apr,article,articleid,ask,available,away,...,works,world,writes,wrong,wrote,xnewsreader,year,years,yes,youre
0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.27302,0.000000,0.000000
1,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.356469,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.0,0.135765,0.123914,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.0,0.000000,0.000000,0.0,0.0,0.110035,0.000000,0.0,0.000000,0.0,...,0.000000,0.169635,0.100554,0.000000,0.218197,0.233578,0.000000,0.00000,0.000000,0.000000
4,0.0,0.000000,0.000000,0.0,0.0,0.262692,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.120029,0.000000,0.000000,0.000000,0.000000,0.00000,0.264836,0.000000
5,0.0,0.127332,0.000000,0.0,0.0,0.306667,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.224196,0.000000,0.000000,0.000000,0.114437,0.00000,0.000000,0.122758
6,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
7,0.0,0.000000,0.000000,0.0,0.0,0.175592,0.000000,0.0,0.175296,0.0,...,0.000000,0.135351,0.080232,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
9,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.196719,0.0,0.000000,0.0,...,0.203485,0.000000,0.086324,0.188347,0.000000,0.000000,0.176251,0.00000,0.000000,0.000000