In [1]:
%config Completer.use_jedi = False
import random
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('crx.data', header=None)

In [3]:
varnames = ['A'+str(s) for s in range(1,17)]

In [4]:
data.columns = varnames

In [5]:
data = data.replace('?', np.nan)

In [6]:
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [8]:
data['A2'] = data['A2'].astype('float')
data['A14'] = data['A14'].astype('float')
data['A16'] = data['A16'].map({'+':1, '-':0})

In [9]:
cat_cols = [c for c in data.columns if data[c].dtypes=='O']
num_cols = [c for c in data.columns if data[c].dtypes!='O']

In [10]:
print(cat_cols)

['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

In [11]:
print(num_cols)

['A2', 'A3', 'A8', 'A11', 'A14', 'A15', 'A16']

In [12]:
data[num_cols] = data[num_cols].fillna(0)
data[cat_cols] = data[cat_cols].fillna('Missing')

In [13]:
data.to_csv('creditApprovalUCIV2.csv', index=False)