In [1]:
%config Completer.use_jedi = False
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv('creditApprovalUCIV2.csv')

In [3]:
X_train, X_test, y_train, y_test = train_test_split(
data.drop(labels=['A16'], axis=1), data['A16'], test_size=0.3,
random_state=0)

In [4]:
X_train['A4'].unique()

array(['u', 'y', 'Missing', 'l'], dtype=object)

In [5]:
tmp = pd.get_dummies(X_train['A4'], drop_first=True)
tmp.head()

     l  u  y
596  0  1  0
303  0  1  0
204  0  0  1
351  0  0  1
118  0  1  0

In [6]:
vars_categorical = ['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10',
'A12', 'A13']

In [7]:
X_train_enc = pd.get_dummies(X_train[vars_categorical],
drop_first=True)
X_test_enc = pd.get_dummies(X_test[vars_categorical],
drop_first=True)

In [8]:
X_train_enc.head()

,A1_a,A1_b,A4_l,A4_u,A4_y,A5_g,A5_gg,A5_p,A6_aa,A6_c,...,A7_j,A7_n,A7_o,A7_v,A7_z,A9_t,A10_t,A12_t,A13_p,A13_s
596,1,0,0,1,0,1,0,0,0,1,...,0,0,0,1,0,1,1,1,0,0
303,1,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
204,0,1,0,0,1,0,0,1,0,0,...,0,0,0,1,0,1,1,0,0,0
351,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
118,0,1,0,1,0,1,0,0,0,0,...,0,0,0,1,0,1,1,1,0,0

In [9]:
encoder = OneHotEncoder(categories='auto', drop='first',
sparse=False)

In [10]:
encoder.fit(X_train[vars_categorical])

OneHotEncoder(drop='first', sparse=False)

In [11]:
X_train_enc = encoder.transform(X_train[vars_categorical])
X_test_enc = encoder.transform(X_test[vars_categorical])

In [13]:
X_train_enc

array([[1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 1., 0., 1.]])