In [12]:
%config Completer.use_jedi = False
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from feature_engine.encoding import WoEEncoder

In [2]:
data = pd.read_csv('creditApprovalUCIV2.csv')

In [3]:
X_train, X_test, y_train, y_test = train_test_split(
data, data['A16'],test_size=0.3, random_state=0)

In [10]:
X_train.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
596,a,46.08,3.000,u,g,c,v,2.375,t,t,8,t,g,396.0,4159,1
303,a,15.92,2.875,u,g,q,v,0.085,f,f,0,f,g,120.0,0,0
204,b,36.33,2.125,y,p,w,v,0.085,t,t,1,f,g,50.0,1187,1
351,b,22.17,0.585,y,p,ff,ff,0.000,f,f,0,f,g,100.0,0,0
118,b,57.83,7.040,u,g,m,v,14.000,t,t,6,t,g,360.0,1332,1

In [4]:
p1 = X_train.groupby(['A1'])['A16'].mean()

In [5]:
p0 = 1 - p1

In [8]:
woe = dict(np.log(p1 / p0))

In [9]:
print(woe)

{'Missing': 0.0, 'a': -0.11122563511022437, 'b': -0.24600937605121306}

In [11]:
X_train['A1'] = X_train['A1'].map(woe)
X_test['A1'] = X_test['A1'].map(woe)

<ipython-input-11-be745a1eefa1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['A1'] = X_train['A1'].map(woe)
<ipython-input-11-be745a1eefa1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['A1'] = X_test['A1'].map(woe)

In [13]:
woe_enc = WoEEncoder(variables=['A1', 'A10', 'A12'])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
data.drop(labels=['A16'], axis=1), data['A16'],
test_size=0.3, random_state=0)

In [15]:
woe_enc.fit(X_train, y_train)

WoEEncoder(variables=['A1', 'A10', 'A12'])

In [16]:
X_train_enc = woe_enc.transform(X_train)
X_test_enc = woe_enc.transform(X_test)

In [17]:
X_train_enc.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
596,0.092373,46.08,3.000,u,g,c,v,2.375,t,1.064411,8,-0.015455,g,396.0,4159
303,0.092373,15.92,2.875,u,g,q,v,0.085,f,-0.890099,0,0.012909,g,120.0,0
204,-0.042410,36.33,2.125,y,p,w,v,0.085,t,1.064411,1,0.012909,g,50.0,1187
351,-0.042410,22.17,0.585,y,p,ff,ff,0.000,f,-0.890099,0,0.012909,g,100.0,0
118,-0.042410,57.83,7.040,u,g,m,v,14.000,t,1.064411,6,-0.015455,g,360.0,1332